openapi: 3.2.0
info:
  title: SeekrFlow Evals API
  description: SeekrFlow API Documentation
  termsOfService: http://www.seekr.com/support
  contact:
    name: Seekr API Support
    url: http://www.seekr.com/contact
    email: contact@seekr.com
  version: 5.108.1
servers:
- url: https://flow.seekr.com
  description: SeekrBuild server base URL
tags:
- name: Evals
paths:
  /v1/flow/evals/cases:
    post:
      tags:
      - Evals
      summary: Create Case Route
      operationId: create_case_route_v1_flow_evals_cases_post
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCaseForm'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-excluded: true
    get:
      tags:
      - Evals
      summary: List Cases Route
      description: List cases with optional filtering.
      operationId: list_cases_route_v1_flow_evals_cases_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: min_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Min Datetime
      - name: max_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Max Datetime
      - name: tags
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          title: Tags
      - name: tag_strategy
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TagStrategy'
          default: contains
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 20
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          type: string
          pattern: ^(asc|desc)$
          default: desc
          title: Order
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Case'
                title: Response List Cases Route V1 Flow Evals Cases Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-excluded: true
  /v1/flow/evals/cases/{case_id}:
    get:
      tags:
      - Evals
      summary: Get Case Route
      description: Get a specific case by ID.
      operationId: get_case_route_v1_flow_evals_cases__case_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the case to retrieve
          title: Case Id
        description: The ID of the case to retrieve
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-excluded: true
    put:
      tags:
      - Evals
      summary: Update Case Route
      description: Update a case by ID.
      operationId: update_case_route_v1_flow_evals_cases__case_id__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the case to update
          title: Case Id
        description: The ID of the case to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCaseRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-excluded: true
    delete:
      tags:
      - Evals
      summary: Delete Case Route
      description: Delete a case by ID.
      operationId: delete_case_route_v1_flow_evals_cases__case_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: case_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the case to delete
          title: Case Id
        description: The ID of the case to delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-excluded: true
components:
  schemas:
    TagStrategy:
      type: string
      enum:
      - contains
      - overlap
      title: TagStrategy
    UpdateCaseRequest:
      properties:
        question:
          anyOf:
          - type: string
          - type: 'null'
          title: Question
        ground_truth:
          anyOf:
          - type: string
          - type: 'null'
          title: Ground Truth
        case_metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Case Metadata
        tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tags
      type: object
      title: UpdateCaseRequest
    CreateCaseForm:
      properties:
        question:
          type: string
          title: Question
        ground_truth:
          anyOf:
          - type: string
          - type: 'null'
          title: Ground Truth
        case_metadata:
          additionalProperties: true
          type: object
          title: Case Metadata
          default: {}
        tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tags
        files:
          anyOf:
          - items:
              type: string
              contentMediaType: application/octet-stream
            type: array
          - type: 'null'
          title: Files
      type: object
      required:
      - question
      title: CreateCaseForm
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Case:
      properties:
        id:
          type: string
          title: Id
        user_id:
          type: string
          title: User Id
        question:
          type: string
          title: Question
        ground_truth:
          anyOf:
          - type: string
          - type: 'null'
          title: Ground Truth
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        case_metadata:
          additionalProperties: true
          type: object
          title: Case Metadata
        tags:
          items:
            type: string
          type: array
          title: Tags
        file_ids:
          items:
            type: string
          type: array
          title: File Ids
      type: object
      required:
      - id
      - user_id
      - question
      - created_at
      - updated_at
      title: Case
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Your Seekr API key, sent in the Authorization header with no 'Bearer' prefix.
      in: header
      name: Authorization
