openapi: 3.2.0
info:
  title: SeekrFlow Batches API
  description: SeekrFlow API Documentation
  termsOfService: http://www.seekr.com/support
  contact:
    name: Seekr API Support
    url: http://www.seekr.com/contact
    email: contact@seekr.com
  version: 0.1.0
servers:
- url: https://flow.seekr.com
  description: SeekrBuild server base URL
tags:
- name: Batches
paths:
  /v1/batches:
    post:
      summary: Route Batches
      description: Handle batch requests that process files with specified endpoints.
      operationId: route_batches_v1_batches_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      x-excluded: true
      tags:
      - Batches
    get:
      summary: Route List Batches
      operationId: route_list_batches_v1_batches_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: after
        in: query
        required: false
        schema:
          type: string
          title: After
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-excluded: true
      tags:
      - Batches
  /v1/batches/{batch_id}:
    get:
      summary: Route Get Batch
      operationId: route_get_batch_v1_batches__batch_id__get
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          title: Batch Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-excluded: true
      tags:
      - Batches
    delete:
      summary: Route Cancel Batch
      operationId: route_cancel_batch_v1_batches__batch_id__delete
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          title: Batch Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-excluded: true
      tags:
      - Batches
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Your Seekr API key, sent in the Authorization header with no 'Bearer' prefix.
      in: header
      name: Authorization
